body{
    background-color: #F3F5FC;
    font-family: Helvetica;
}

.logo{
    position: fixed;
    top: 3%;
    left: 2.5%;
}

.cajasTexto{
    margin: 0 auto;
    width: 80%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.cajaTextoIngreso{
    width: 45%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0%;
}

#cajaTexto1{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #F3F5FC;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #0a3871;
    resize: none;
    padding: 10px 0px 0px 0px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 2%;
    bottom: 0%;
    left: 2%;
    margin: 0 auto;
    width: 100%;
}

.boton{
    width: 47%;
    height: 10%;
    padding: 3%;
    border-radius: 24px;
    border: 1px solid #0a3871;
    font-size: 19px;
    cursor: pointer;
}

#botonEncriptar{
    background-color: #0a3871;
    color: white;
}

#botonDesencriptar{
    background-color: #D8DFE8;
    color: #0a3871;
}

.cajaTextoResultado{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0px;
}

#cajaTexto2{
    width: 90%;
    height: 98%;
    background-color: #ffffff;
    border-radius: 28px;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 26px;
    color: #495057;
    font-weight: 400;
    line-height: 150%;
    resize: none;
    padding: 5% 5% 0% 5%;
}

.muneco{
    position: absolute;
    width: 60%;
    left: 22.5%;
    top: 15%;
}

#textoIndicativo{
    position: absolute;
    width: 90%;
    top: 85%;
    left: 7.5%;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #0a3871;
}

#botonCopiar{   
    position: absolute;
    right: 3%;
    bottom: 0%;
    color: #0A3871;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px)
{
    .logo{
        position: absolute;
        width: 5%;
        top: 2%;
        left: 3.5%;
    }

    .cajasTexto{
        width: 85%;
        height: 80%;
        left: 7.5%;
    }
    .cajaTextoIngreso{
        width: 94%;
        height: 55%;
    }

    #cajaTexto1{
        font-size: 15px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0px;
    }

    .botones{
        left: 3%;
    }

    .boton{
        width: 50%;
        font-size: 12px;
    }

    .cajaTextoResultado{
        width: 100%;
        height: 40%;
        position: absolute;
        top: 60%;
        left: 0px;
    }

    #cajaTexto2{
        font-size: 15px;
    }

    .muneco{
        position: absolute;
        width: 55%;
        left: 22.5%;
        top: 10%;
    }

    #textoIndicativo{
        width: 85%;
        font-size: 15px;
        top: 85%;
        right: 5%;
    }

    #botonCopiar{   
        width: 10%;
        right: 3%;
        bottom: 0%;
    }

}




