body{
    background-color: #F3F5FC;
    font-family: Helvetica;
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
}

.cajasTexto{
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 60%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.cajaTextoIngreso{
    width: 45%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

#cajaTexto1{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #F3F5FC;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #0a3871;
    resize: none;
    padding: 0px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 2%;
    bottom: 2%;
    left: 2%;
    margin: 0 auto;
    width: 100%;
}

.boton{
    width: 47%;
    height: 10%;
    padding: 3%;
    border-radius: 24px;
    border: 1px solid #0a3871;
    font-size: 18px;
}

#botonEncriptar{
    background-color: #0a3871;
    color: white;
}

#botonDesencriptar{
    background-color: #D8DFE8;
    color: #0a3871;
}

.cajaTextoResultado{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#cajaTexto2{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 28px;
    border: none;
    padding: 0px;
    font-size: 24px;
    color: #495057;
    font-weight: 400;
    line-height: 150%;
    resize: none;
}

.muneco{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 10%;
}

#textoNoEncontrado{
    position: absolute;
    width: 90%;
    top: 80%;
    left: 5%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-self: stretch;
    color: #343a40;
    border: none;
}

#textoIndicativo{
    position: absolute;
    width: 90%;
    top: 80%;
    left: 5%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #0a3871;
}

#botonCopiar{   
    position: absolute;
    right: 25px;
    bottom: 25px;
    color: #0A3871;
    background-color: white;
}

@media screen and (max-width: 480px)
{

}



