body{
    background-color: #F3F5FC;
    font-family: Helvetica;
}

.logo{
    position: fixed;
    top: 3%;
    left: 2.5%;
}

.cajasTexto{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.cajaTextoIngreso{
    width: 50%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0%;
}

#cajaTexto1{
    width: 95%;
    height: 85%;
    border: none;
    outline: none;
    background-color: #F3F5FC;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: #0a3871;
    resize: none;
    padding: 20px 0px 0px 0px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    gap: 2%;
    bottom: 0%;
    left: 0%;
    width: 95%;
}

.boton{
    width: 47%;
    height: 8%;
    padding: 3%;
    border-radius: 17px;
    border: 1px solid #0a3871;
    font-size: 15px;
    cursor: pointer;
}

#botonEncriptar{
    background-color: #0a3871;
    color: white;
}

#botonDesencriptar{
    background-color: #D8DFE8;
    color: #0a3871;
}

.boton-borrar{
    position: absolute;
    top: 3%;
    right: -2%;
}

.boton-borrar input{
    border-radius: 50%;
    border: 0px solid #F3F5FC;
    font-weight: 600;
    font-size: 25px;
    color: #0a3871;
    cursor: pointer;
    opacity: 0;
}

.cajaTextoResultado{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0px;
    background-color: #ffffff;
    border-radius: 28px
}

#cajaTexto2{
    width: 90%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 28px;
    border: none;
    outline: none;
    font-size: 24px;
    color: #495057;
    font-weight: 400;
    line-height: 150%;
    resize: none;
    padding: 5% 5% 0% 5%;
}

.muneco{
    position: absolute;
    width: 60%;
    left: 22.5%;
    top: 15%;
}

#textoIndicativo{
    position: absolute;
    width: 90%;
    top: 85%;
    left: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #0a3871;
}

.botones2{
    position: relative;
    top: 2.3%;
    right: 2%;
    float: right;
    cursor: pointer;
}

.ventanas-emergentes{
    position: absolute;
    top: 81%;
    right: 10%;
}

.popup-copiar{
    position: absolute;
    top: 0px;
    right: 50px;
    background-color: #0a3871;
    border: 3px solid #0a3871;
    border-radius: 7px;
    opacity: 0;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 6px 8px 1px rgb(0 0 0 / 14%), 0 3px 10px 2px rgb(0 0 0 / 12%)
}

.popup-copiar p{
    text-align: right; 
    padding: 3px 5px;
    font-size: 14px;
    color: white;
}

.popup-compartir{
    position: absolute;
    top: 0px;
    right: -20px;
    background-color: #0a3871;
    border: 3px solid #0a3871;
    border-radius: 7px;
    opacity: 0;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 6px 8px 1px rgb(0 0 0 / 14%), 0 3px 10px 2px rgb(0 0 0 / 12%)
}

.popup-compartir p{
    text-align: right; 
    padding: 3px 5px;
    font-size: 14px;
    color: white;
}

.show{
    pointer-events: auto;
    opacity: 0.9;
}

.ventana-compartir{
    display: inline-block;
    text-align: center;
    width: 275px;
    height: 95px;
    background-color: white;
    padding: 25px 10px;
    border-radius: 15px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    opacity: 0;
}

.ventana-compartir h1{
    font-weight: bold;
}

.ventana-compartir .aplicaciones{
    display: inline-flex;
    gap: 40px;
    padding: 15px;
}

.ventana-compartir .email{
    display: inline-block;
}

.ventana-compartir .whatsapp{
    display: inline-block;
}

@media screen and (max-width: 800px)
{
    .logo{
        position: absolute;
        width: 5%;
        top: 2%;
        left: 3.5%;
    }

    .cajasTexto{
        width: 85%;
        height: 85%;
        left: 7.5%;
        margin: 0 auto;
    }

    .cajaTextoIngreso{
        width: 97%;
        height: 55%;
    }

    #cajaTexto1{
        font-size: 15px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0px;
        height: 85%;
    }

    .botones{
        left: 4%;
    }

    .boton{
        width: 50%;
        font-size: 10.5px;
    }

    .boton-borrar{
        top: 1%;
    }

    .boton-borrar input{
        font-size: 15px;
    }

    .cajaTextoResultado{
        width: 100%;
        height: 40%;
        top: 58%;
        left: 0px;
    }

    #cajaTexto2{
        font-size: 15px;
    }

    .muneco{
        position: absolute;
        width: 55%;
        left: 22.5%;
        top: 10%;
    }

    #textoIndicativo{
        width: 85%;
        font-size: 14px;
        top: 85%;
        left: 7.5%;
    }

    .botones2{
        position: relative;
        top: -9%;
        right: -7%;
        float: right;
    }

    #botonCopiar{   
        width: 35%;
        right: 3%;
        bottom: 0%;
    }

    #botonCompartir{   
        width: 35%;
        right: 10%;
        bottom: 0%;
    }
}

@media screen and (max-height: 700px)
{
    .botones2{
        top: -13%;
    }
}




